<?php 
/*
Mogelijkheid voor Google Analytics Tracker.
Vul UA-trackernummer in en hernoem naar googleanalytics.inc.php
*/
if ($_SERVER['REMOTE_ADDR'] != '127.0.0.1') { ?>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXXXXX');
  ga('send', 'pageview');

</script>
<?php } ?>